<!DOCTYPE html>
<html>
	<head>
		<title>{{.}}</title>
		<link rel="stylesheet" type="text/css" href="../../assets/css/header_style.css">
		<script src="../../assets/js/script.js"></script>
	</head>
	<body>
		<ul class="menu-th">
			<li><a href="/index">На главную</a></li>
		    <li><a href="/furniture">Мебель</a>
		        <ul>
		            <li><a href="/furniture/chair">Стулья</a></li>
		            <li><a href="/furniture/table">Столы</a></li>
		            <li><a href="/furniture/sofa">Диваны</a></li>
		        </ul>
		    </li>
		    <li><a href="/car">Автомобили</a>
		        <ul>
		            <li><a href="/car/sportcar">Спортивные</a></li>
		            <li><a href="/car/truck">Грузовики</a></li>
		            <li><a href="/car/service">Служебные</a></li>
		        </ul>
		    </li>
		    <li><a href="/weapon">Вооружение</a>
		        <ul>
		            <li><a href="/weapon/tank">Танки</a></li>
		            <li><a href="/weapon/helicopter">Вертолёты</a></li>
		            <li><a href="/weapon/plane">Самолёты</a></li>
		        </ul>
		    </li> 
		    <li><a href="/other">Другое</a></li>
		    <div class="right"><li><a href="/records">Загрузить файлы</a></li></div>
		</ul>